.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background-color: gray;
  background-image: linear-gradient(to bottom left, rgb(11, 247, 152), purple);
  min-height: 100vh;
  
}

.App-header ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin-left: -18px;
  margin-top: 60px;
  
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;

}


a {
  color: white;
  /* background-color: #ce3535;
  background-color: #808080; */
  text-decoration: none;
  /* border: 1px solid #ce3535; */
  border: 1px solid #ddf3e8;
  border-radius: 3px;
  padding: 5% 5%;
  font-weight: bold;
  transition: background-color 200ms;
  /* margin-right: 10px; */
  /* width: 5%; */
}

/* a:focus {
  background-color: white;
  color: #1b1b1b;
  font-weight: bold;
  border: 1px solid rgb(228, 228, 228);
} */

li {
  width: 330px;
  list-style: none;
  margin-right: 15px;
  
}
.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.form1 {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}
.form2 {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  
}

input {
  height: 37px;
  width: 200px;
  border-radius: 4px; 
  border: 1px solid lightgray;
  font-size: 1rem;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 25px;
}
input[placeholder] {
  font-size: 0.9rem;
  font-size: lightgrey;
  font-weight: lighter;
}
button {
  /* height: 30px; */
  width: 100px;
  border: 1px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
  color: #1b1b1b;
  padding: 3% 3%;
}

.users {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
}

.users-text {
  font-size: 1.6rem;
}

.user {
  /* border: 1px solid lightgray; */
  /* border-radius: 5px; */
  text-transform: capitalize;
  margin-bottom: 50px;
}

.signout {
  margin-top: 60px;
}


p, h1, h2, h3 {
  color: white;
}